<!doctype html>
<html lang=en-US>
<head>
  <meta charset=UTF-8>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title><%= name %> <%= version %></title>
  <%- include('includes/styles') %>
</head>
<body>
  <%- include('includes/header') %>
  <%- include('includes/nav') %>
  <main>
    <aside>Official Plain Text of <%- name %> <%- version %> <a class=plainTextDownload href="/licenses/<%- slug %>/<%- version %>.txt" download="PolyForm <%- name %> <%- version %>.txt">Download</a></aside>
    <%- html %>
  </main>
  <%- include('includes/footer') %>
</body>
</html>
