<!doctype html>
<html lang=en-US>
<head>
  <%- include('meta') %>
  <% if (locals.title) { %><title><%= title %></title><% } else { %><title>PolyForm Project</title><% } %>
  <% if (locals.description) { %><meta name="description" content="<%= description %>"><% } %>
  <%- include('styles') %>
  <%- include('rss') %>
</head>
<body>
  <%- include('header') %>
  <%- include('nav') %>
  <main><%- content %></main>
  <%- include('footer') %>
</body>
</html>
